// .header{
//     display: flex;
//     position: fixed;
//     // height: 4rem;
//     width: calc(100% - #{$sidebar-width});
//     // background-color: #0D0D0D;
//     top: 0;
//     right: 0;
//     z-index: $z-index-header;
//     box-shadow: 0 5px 22px rgba($black, .25);
//     max-width: 100%;
// }


.header {
    display: flex;
    flex-direction: column;
    background: url("../img/head/bg_header.jpg") no-repeat;

    border: 1px solid black;
    &__content {
        display: flex;
    }
}
.header__top{
    display: flex;
}

.header__top.top-header {
}
.header__bottom {
    display: flex;
}
.header__content._conteiner {
}
.bottom-header__conteiner._conteiner {
}
.top-header {
    &__column {
        display: flex;
    }
    &__colum {
        flex: 0 1 50%;
    }
}
.bottom-header__column {
}
.top-heder__menu.menu {
}
.top-header__logo img{
    width: 100px;
    height: 100px;
    border: 1px solid rebeccapurple;
}
.top-header__contacts.contacts-header {
}
.bottom-header__info.info-header {
}
.top-header__icon.icon-menu {
}
.menu__body {
}
.contacts-header__column {
}
.bottom-header__actions.actions-header {
}
.info-heade__column {
}
.info-heade__schedule {
}
.info-heade__cart {
}
.menu__list {
}
.contacts-header__item.contacts-header__item_icon {
}
.contacts-header__item {
}
.info-heade__callback {
}
.contacts-hader__label {
}
.contacts-hader__phone {
}
.actions-header__login {
}
.actions-header__reg {
}
.actions-header__email {
}
.menu__link {
}
