<header class="header">
    <div class="header__top top-header">
        <div class="header__content _conteiner">
            <div class="top-header__column">
                <menu class="top-heder__menu menu">
                    <div class="top-header__icon icon-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <nav class="menu__body">
                        <ul class="menu__list">
                            <li><a href="" class="menu__link">Бренди</a></li>
                            <li><a href="" class="menu__link">Розпродаж</a></li>
                            <li><a href="" class="menu__link">Доставка та збірка</a></li>
                            <li><a href="" class="menu__link">Гарантія</a></li>
                            <li><a href="" class="menu__link">Оплата</a></li>
                            <li><a href="" class="menu__link">Контакти</a></li>
                        </ul>
                    </nav>
                </menu>
            </div>
            <div class="top-header__column">
                <a href="" class="top-header__logo"><img src="../assets/img/logo/Logo.svg" alt="logo"></a>
            </div>
            <div class="top-header__column">
                <div class="top-header__contacts contacts-header">
                    <div class="contacts-header__column">
                        <div class="contacts-header__item contacts-header__item_icon">
                            <div class="contacts-hader__label">
                                City
                            </div>
                            <a href="tel:380981234567" class="contacts-hader__phone">+380-98-123-4567</a>
                        </div>
                        <div class="contacts-header__item">
                            <div class="contacts-hader__label">
                                Безкоштовно по Україні
                            </div>
                            <a href="tel:800981234567" class="contacts-hader__phone">800-98-123-4567</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom bottom-header">
        <div class="bottom-header__conteiner _conteiner">
            <div class="bottom-header__column">
                <div class="bottom-header__column">
                    <ul class="bottom-header__actions actions-header">
                        <li>
                            <a href="" class="actions-header__login"><span>Вхід</span></a>
                        </li>
                        <li>
                            <a href="" class="actions-header__reg"><span>Регістрація</span></a>
                        </li>
                        <li>
                            <a href="mailto:mail@mail.com" class="actions-header__email"><span>mail@mail.com</span></a>
                        </li>
                    </ul>
            </div>
            </div>
            <div class="bottom-header__column">
                <div class="bottom-header__info info-header">
                    <div class="info-heade__column">
                        <a href="" class="info-heade__callback">
                            <spam>Зворотній дзвінок</spam>
                        </a>
                    </div>
                    <div class="info-heade__schedule">
                        <p><span>Пн-Пт</span> 09:00 - 21:00;</p>
                        <p><span>Сб-Нд</span> 10:00 - 20:00</p>
                    </div>
                    <a href="" class="info-heade__cart">
                        <span>12</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</header>
